.card {
  margin-bottom: 15px;
}
.numeroPage {
  display: none;
}
.coteDroit {
  display: none;
}
.coteGauche {
  display: none;
}
h1 {
  color: white;
}
.d-flex {
  height: 25px;
}
.tailleBarre {
  width: 320px;
}
.barreDeRecherche {
  padding-right: 0px;
  padding-left: 0px;
}
.motRechercher {
  position: relative;
  bottom: 7px;
}
.deletePaddingConnexion {
  padding-right: 0px;
}
.deletePaddingConnexion1 {
  padding-left: 0px;
  padding-right: 0px;
}
.deletePaddingConnexion2 {
  padding-left: 0px;
}
.badge {
  border: solid black 1px;
  border-radius: 10px;
}
@media screen and (max-width: 478px) {
  .tailleBarre {
    width: 260px;
  }
}
@media screen and (max-width: 418px) {
  .tailleBarre {
    width: 200px;
  }
  .BarreNav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 356px) {
  .tailleBarre {
    width: 170px;
  }
  .BarreNav {
    padding-left: 5px;
    padding-right: 5px;
  }
}
