body {
  background-image: url(img/home-rs.jpg);
  background-position: right top;
}
.box_search {
  border: 1px solid black;
  height: 250px;
  width: 400px;
  display: flex;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-around;
  border-radius: 5px;
}
.badge {
  background-color: black;
  font-size: 18px;
}
.espaceTop {
  margin-top: 40px;
}
/* .connexion {
  border: 2px solid black;
  width: 130px;
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom: 40px;
} */
.bouton {
  margin-bottom: 10px;
}
.co {
  padding: 5px;
  font-size: 17px;
}
.nomOrga {
  border: 2px solid black;
  height: 120px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
}
.imgCentre {
  align-self: center;
}
.indexPara {
  z-index: 1;
  position: relative;
  top: 80px;
  left: 40px;
}

.boxEvenemt:hover {
  transform: scale(1.4);
  transition: 1.2s;
  z-index: 1;
}
h2 {
  margin-bottom: 20px;
}
.coteGauche {
  height: 650px;
  position: sticky;
  top: 0;
}
.coteDroit {
  height: 650px;
  position: sticky;
  top: 0;
}
.card {
  margin-bottom: 20px;
}
.ligneCard {
  padding-left: 40px;
  padding-right: 40px;
}
.card-img-top {
  height: 200px;
}

.navbar-expand-lg {
  display: none;
}
.boxOrga {
  margin-bottom: 100px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .ligneCard {
    padding-left: 40px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .coteGauche {
    display: none;
  }
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .header1 {
    display: none;
  }
  .tailleBarre {
    width: 400px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .coteGauche {
    display: none;
  }
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .header1 {
    display: none;
  }
  .tailleBarre {
    width: 400px;
  }
}
@media screen and (min-width: 479px) and (max-width: 576px) {
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .header1 {
    display: none;
  }
  .banniere {
    display: flex;
  }
  .card {
    margin-bottom: 15px;
  }
  .coteDroit {
    display: none;
  }
  .coteGauche {
    display: none;
  }
  h1 {
    color: white;
  }

  .barreDeRecherche {
    padding-right: 0px;
    padding-left: 0px;
  }
  .motRechercher {
    position: relative;
    bottom: 7px;
  }
  .deletePaddingConnexion {
    padding-right: 0px;
  }
  .deletePaddingConnexion1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .deletePaddingConnexion2 {
    padding-left: 0px;
  }
  .badge {
    border: solid black 1px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 419px) and (max-width: 478px) {
  .header1 {
    display: none;
  }
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .coteGauche {
    display: none;
  }
  .coteDroit {
    display: none;
  }
}
@media screen and (min-width: 357px) and (max-width: 418px) {
  .header1 {
    display: none;
  }
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .BarreNav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .coteGauche {
    display: none;
  }
  .coteDroit {
    display: none;
  }
}
@media screen and (max-width: 356px) {
  .navbar-expand-lg {
    display: flex;
    flex: initial;
  }
  .BarreNav {
    padding-left: 5px;
    padding-right: 5px;
  }
  .coteGauche {
    display: none;
  }
  .coteDroit {
    display: none;
  }
  .header1 {
    display: none;
  }
}
